<div>
    <h3>Contact</h3>
    
    <div>
        <ul class="fa-ul" itemscope="">
            
            <!--Email-->
            <li>
                <i class="fas fa-envelope" style="margin-left: -25px;"></i>
                <span> 
                    <a style="margin-left: 5px;"> marshal.sinaga (at) aalto.fi</a>
                </span>
            </li>
            <br>
            
            <!--Adress-->
            <li>
                <i class="fa-li fas fa-map-marker fa-2x" style="font-size: 1.25rem;"></i>
                <span itemprop="address">Aalto CS Building (Room A342)
                    <br>
                    Konemiehentie 2
                    <br>
                    Espoo 02150, Finland</span>
            </li>
            
        </ul>
    </div>
</div>
    
    
