<div class="row" style="margin-top: 20px;">
            
    <!--Interests-->
    <div class="col-md-4">
      <h3>Interests</h3>
      <ul>
        <li>Bayesian optimization</li>
        <li>Gaussian process</li>
        <li>Bayesian neural network</li>
        </ul>
      </div>
      
      <!--Education-->
      <div class="col-md-8">
        <h3>Education</h3>
        <ul class="fa-ul">
          <li>
            
            <div class="square" style="float:left;height:2.0rem;width:2.0rem;padding-right:100px;">
              <img src="https://marshalarijona.github.io/assets/img/Aalto-logo.png" style="max-height:2.75rem;padding-top:.5rem;display:block;margin:auto">
            </div>
          
            <div class="description">
              <p class="major"> Doctoral degree in Computer Science, June 2023 - Now </p>
              <p class="institution"> Aalto University, FCAI </p>
            </div>
          </li>
        
        <li>
          <div class="square" style="float:left;height:2.5rem;width:2.5rem;padding-right:100px;">
            <img src="https://marshalarijona.github.io/assets/img/UI-CS-logo.png" style="max-height:3.25rem;padding-top:.5rem;display:block;margin:auto">
          </div>
          
          <div class="description">
            <p class="major">Master degree in Computer Science, Feb 2022</p>
            <p class="institution">University of Indonesia</p>
          </div>
        </li>
        
        <li>
          <div class="square" style="float:left;height:2.5rem;width:2.5rem;padding-right:100px;">
            <img src="https://marshalarijona.github.io/assets/img/UI-CS-logo.png" style="max-height:3.25rem;padding-top:.5rem;display:block;margin:auto">
          </div>
          
          <div class="description">
            <p class="major">Bachelor degree in Computer Science, Aug 2020</p>
            <p class="institution">University of Indonesia</p>
          </div>
        </li>
      </ul>
    </div>

    
  
  </div>